COMPOSE_PROJECT_NAME=moodle_docker_challenge

# Docker
MOODLE_PORT=8080

# MySQL
MYSQL_ROOT_PASSWORD=change_me_root_password
MYSQL_DATABASE=moodle
MYSQL_USER=moodle
MYSQL_PASSWORD=change_me_moodle_password

# Moodle
MOODLE_WWWROOT=http://localhost:8080
MOODLE_DATA_DIR=/var/www/moodledata
MOODLE_DB_TYPE=mysqli
MOODLE_DB_HOST=mysql
MOODLE_DB_PORT=3306
MOODLE_DB_PREFIX=mdl_
MOODLE_DB_COLLATION=utf8mb4_unicode_ci
MOODLE_DB_SOCKET=
MOODLE_ADMIN_DIR=admin
MOODLE_SSL_PROXY=false
MOODLE_REVERSE_PROXY=false

# Plugins customizados
MOODLE_CUSTOM_PLUGIN_PATHS=local blocks
